<h1 [style.font-size.%]="myHelloComponent.namesList.length > 0 ? 200 : 150"
  [style.color]="myHelloComponent.namesList.length > 0 ? 'red' : 'black'">
  Project name: {{title}}
</h1>
<h2>Name: {{name}}</h2>

<div style="border: 3px solid red;">
  <div [class.hidden]="myHelloComponent.inputName.length == 0">
    Writting '{{myHelloComponent.inputName}} in HomeComponent'
  </div>
  <!--<home #myHelloComponent [surname]="myName" (sayHello)="onSayHello($event)"></home>-->
  <home #myHelloComponent (sayHello)="onSayHello($event)"></home>
  <new-component></new-component>
</div>
