<div [ngSwitch]="namesList.length">
  <!-- We can do it in this way to binding bi-directonally, but its preferible to use NgModel-->
  <!-- <input type="text" [value]="inputName" (keyup)="updateInputName($event)"/> -->
<div *ngSwitchDefault>

  <input type="text" [(ngModel)]="inputName"/>
  <button (click)="addName()">Add name</button>
</div>
<div *ngSwitchCase="5">
  <p>You can't add more names.</p>
</div>
</div>

<!--<p (click)="onNameClick()" *ngIf="surname">Welcome {{surname}}!</p>-->

<p *ngFor="let item of namesList; index as i" (click)="onNameClick()">
  {{i}}. Welcome {{item}}!
</p>

<!--

[ngSwitch]
- ngSwitchDefault
- ngSwitchCase
- ngSwitch

-->
